{% extends 'base.html.twig' %}

{% block body %}
    <h1>News list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Createddate</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td><a href="{{ path('admin_news_show', { 'id': news.id }) }}">{{ news.id }}</a></td>
                <td>{{ news.title }}</td>
                <td>{{ news.content|raw }}</td>
                <td>{% if news.createdDate %}{{ news.createdDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if news.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_news_show', { 'id': news.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_news_edit', { 'id': news.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_news_new') }}">Create a new news</a>
        </li>
    </ul>
{% endblock %}
