{% extends 'base.html.twig' %}

{% block body %}
    <h1>News creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input id="submitButton" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_news_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{asset('js/tinymce/tinymce.min.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            tinymce.init({
                selector: "textarea",
                plugins: "link image preview table media",
                menu: {},
                toolbar: 'undo redo | styleselect | bold italic | link image | table media | preview'
            });

            $('#submitButton').click(function(){
               tinymce.triggerSave();
            });
        });
    </script>
{% endblock %}