{% extends 'base.html.twig' %}

{% block body %}
    <h1>Yearseasons list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for yearSeason in yearSeasons %}
            <tr>
                <td><a href="{{ path('yearseason_show', { 'id': yearSeason.id }) }}">{{ yearSeason.id }}</a></td>
                <td>{{ yearSeason.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('yearseason_show', { 'id': yearSeason.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('yearseason_edit', { 'id': yearSeason.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('yearseason_new') }}">Create a new yearSeason</a>
        </li>
    </ul>
{% endblock %}
