{% extends 'site-base.html.twig' %}

{% block body %}
    <div class="table">
        <div class="main-content txt-c table-cell">
            <div class="text-block">
                <h2 class="title">Dodela priznanja za sezonu proleće 2016 i turnir</h2>
                <p class="text">U subotu <strong>08.10.2016.</strong> u sali Top Spin  u <strong>9:30h</strong> izvršiće se dodela priznanja za prethodnu sezonu, nakon čega sledi i Top spin <strong>Storek turnir</strong>. Turnir se igra na žreb od 24 igrača zbog kapaciteta sale, <strong>prijava do 05.10.2016.</strong> na kontakte: <strong>Radovan 063 771 36 59</strong> i <strong>Dejan 063 368 600</strong>. Kotizacija je <strong>500 dinara.</strong></p>
            </div>
            <div class="separator"></div>
            <div class="text-block">
                <h2 class="title">Nova sala za igranje - Top Spin</h2>
                <img src="{{ asset('img/topspinsala.jpg') }}" alt="" style="width: 60%;" class="mt10">
            </div>
            <div class="separator"></div>
            <div class="text-block">
                <h2 class="title">Ažurirane ekipe i raspored po ligama za sezonu JESEN 2016</h2>
                <p class="text">Ažuriran je sajt za novu sezonu, sve sastave ekipa možete videti na linku <strong>Ekipe</strong>, kao i sa kojim lopticama igra određena ekipa kao domaćin. Napravljeni su i rasporedi po kolima. Početak takmičenja je <strong>26.09.2016</strong>. Ukoliko postoji određena izmena, ili greška u ažuriranju sastava, poslati na mejl kako bi podaci pred sezonu bili tačni. <strong>Svima puno sreće u predstojećoj sezoni.</strong></p>
            </div>
        </div>
        <div class="sidebar table-cell">
            <div class="heading">Predstojeći mečevi</div>
            <select class="select-dd mt5">
                <option value="">Super Liga</option>
                <option value="">Prva Liga</option>
                <option value="">Druga Liga</option>
                <option value="">Treca Liga</option>
            </select>
            <div class="event-block txt-c mt10">
                <div class="event-heading">II Kolo</div>
                <div class="event">
                    <div class="event-content table">
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                        <div class="event-info table-cell">
                            <div class="event-date">03.10.2016 - 09.10.2016.</div>
                            <div class="event-result mt5 table">
                                <span class="result result-home table-cell">3</span>
                                <span class="vs table-cell">-</span>
                                <span class="result result-away table-cell">7</span>
                            </div>
                        </div>
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                    </div>
                    <div class="event-teams table">
                        <span class="team team-home table-cell">Strelac</span>
                        <span class="vs table-cell">vs</span>
                        <span class="team team-away table-cell">TST</span>
                    </div>
                </div>

                <div class="event">
                    <div class="event-content table">
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                        <div class="event-info table-cell">
                            <div class="event-date">09.10.2016.</div>
                            <div class="event-result mt5 table">
                                <span class="result result-home table-cell">20:00</span>
                            </div>
                        </div>
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                    </div>
                    <div class="event-teams table">
                        <span class="team team-home table-cell">Božuri</span>
                        <span class="vs table-cell">vs</span>
                        <span class="team team-away table-cell">Storekaši</span>
                    </div>
                </div>

                <div class="event">
                    <div class="event-content table">
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                        <div class="event-info table-cell">
                            <div class="event-date">03.10.2016 - 09.10.2016.</div>
                            <div class="event-result mt5 table">
                                <span class="result result-home table-cell">3</span>
                                <span class="vs table-cell">-</span>
                                <span class="result result-away table-cell">7</span>
                            </div>
                        </div>
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                    </div>
                    <div class="event-teams table">
                        <span class="team team-home table-cell">Strelac</span>
                        <span class="vs table-cell">vs</span>
                        <span class="team team-away table-cell">TST</span>
                    </div>
                </div>

                <div class="event">
                    <div class="event-content table">
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                        <div class="event-info table-cell">
                            <div class="event-date">09.10.2016.</div>
                            <div class="event-result mt5 table">
                                <span class="result result-home table-cell">20:00</span>
                            </div>
                        </div>
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                    </div>
                    <div class="event-teams table">
                        <span class="team team-home table-cell">Božuri</span>
                        <span class="vs table-cell">vs</span>
                        <span class="team team-away table-cell">Storekaši</span>
                    </div>
                </div>

                <div class="event">
                    <div class="event-content table">
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                        <div class="event-info table-cell">
                            <div class="event-date">03.10.2016 - 09.10.2016.</div>
                            <div class="event-result mt5 table">
                                <span class="result result-home table-cell">3</span>
                                <span class="vs table-cell">-</span>
                                <span class="result result-away table-cell">7</span>
                            </div>
                        </div>
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                    </div>
                    <div class="event-teams table">
                        <span class="team team-home table-cell">Strelac</span>
                        <span class="vs table-cell">vs</span>
                        <span class="team team-away table-cell">TST</span>
                    </div>
                </div>

                <div class="event">
                    <div class="event-content table">
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                        <div class="event-info table-cell">
                            <div class="event-date">09.10.2016.</div>
                            <div class="event-result mt5 table">
                                <span class="result result-home table-cell">20:00</span>
                            </div>
                        </div>
                        <div class="team-logo table-cell"><img src="{{ asset('img/team-logo.png') }}" alt=""></div>
                    </div>
                    <div class="event-teams table">
                        <span class="team team-home table-cell">Božuri</span>
                        <span class="vs table-cell">vs</span>
                        <span class="team team-away table-cell">Storekaši</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}