{% extends 'base.html.twig' %}

{% block body %}
    <h1>Leaguematches list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for leagueMatch in leagueMatches %}
            <tr>
                <td><a href="{{ path('admin_leaguematch_show', { 'id': leagueMatch.id }) }}">{{ leagueMatch.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_leaguematch_show', { 'id': leagueMatch.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_leaguematch_edit', { 'id': leagueMatch.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_leaguematch_new') }}">Create a new leagueMatch</a>
        </li>
    </ul>
{% endblock %}
